**/bin/
**/obj/
**/publish/
**/PUBLISH*/
**/BACKUP/
**/Temp/
*.gdb
*.GDB
*.gbk
*.GBK
*.fdb
*.FDB
*.bak
*.zip
*.rar
*.7z
*.log
*.lic
*.key
*.pfx
*.p12
*.cer
*.crt
*.pem
*.env
Settings.ini
settings.ini
appsettings.*.json
!appsettings.example.json
